@font-face {
  font-family: 'Archivo';
  src: url('/src/assets/fonts/Archivo-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'ArchivoItalic';
  src: url('/src/assets/fonts/Archivo-VariableItalic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/src/assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}
