.about__section {
  min-height: 100dvh;
  width: 100%;
  padding: 40px 20px;

  background-color: var(--negro);
  color: var(--blanco);
  overflow-x: hidden;
}

.about__title {
  width: 100%;
  padding-right: 10%;

  margin-top: clamp(30px, 5vh, 60px);
  margin-bottom: clamp(80px, 5vh, 60px);

  font-size: clamp(2.5em, 6vw, 4em);
  text-align: right;

  opacity: 0;
  transform: translateX(50px);
}

.about__title--visible {
  animation: show-about-title 0.5s ease forwards;
}

.about__container {
  width: min(90%, 1000px);
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.about__bio,
.about__image-container {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
}

.about__bio--visible {
  animation: show-about-content 0.7s ease forwards;
}
.about__image-container--visible {
  animation: show-about-content 0.7s ease forwards 0.1s;
}

.about__image-container {
  justify-content: center;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.6);
    pointer-events: none;
  }
}

.about__bio .about__text {
  font-size: 1.3rem;
}

.about__bio .about__text strong {
  font-weight: 500;
}

.about__image {
  max-width: 100%;
  max-height: 240px;
  width: auto;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.8;
  display: block;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about__separator {
  grid-column: 1 / -1;
  width: 60%;
  height: 2px;
  background-color: var(--blanco);
  margin: 0.5rem auto 0;
  opacity: 0.7;
  border-radius: 1px;
}

.about__skills {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 45px;
  margin-top: 0.8rem;

  opacity: 0;
  transform: translateY(50px);
}

.about__skills--visible {
  animation: show-about-content 0.7s ease forwards 0.2s;
}

.about__text {
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
}

.about__text strong {
  font-weight: 600;
}

.about__cv-download {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;

  opacity: 0;
  transform: translateY(30px);
}

.about__cv-download--visible {
  animation: show-about-content 0.7s ease forwards 0.1s;
}

.about__download-button {
  background-color: var(--blancolow);
  color: var(--negro);
  padding: 10px 20px;
  border-radius: 2px;
  border: 2px solid var(--blancolow);

  &:hover {
    background-color: var(--negro);
    color: var(--blanco);
  }
}

/* ------ MEDIA QUERIES ------ */
@media (min-width: 768px) {
  .about__grid {
    width: 70%;
  }

  .about__image-container {
    justify-content: right;
  }

  .about__title {
    padding-right: 20%;
  }
}

@media (min-width: 1200px) {
  .about__title {
    padding-right: 22%;
  }
}

@media (min-width: 1500px) {
  .about__title {
    padding-right: 32%;
  }
}

/* ------ ANIMATIONS ------ */
@keyframes show-about-title {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes show-about-content {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
