.contact__section {
  min-height: 100dvh;
  width: 100%;

  padding: 40px 20px;
  background-color: var(--blancolow);
  color: var(--negro);
  overflow-x: hidden;
}

.contact__title {
  padding-left: clamp(40px, 12vw, 140px);
  margin-top: clamp(30px, 5vh, 60px);
  margin-bottom: clamp(30px, 5vh, 60px);

  font-size: clamp(2.5em, 6vw, 4em);
  text-align: left;
}

.contact__container {
  width: min(90%, 1000px);
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact__form {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px 40px 1fr 50px;
  grid-template-areas:
    'subject subject'
    'name name'
    'email email'
    'message message'
    'button button';
  gap: 30px;

  opacity: 0;
  transform: translateY(100px);
}

.contact__form--visible {
  animation: show-contact 1s ease forwards;
}

.contact__subject {
  grid-area: subject;
}

.contact__name {
  grid-area: name;
}

.contact__email {
  grid-area: email;
}

.contact__message {
  grid-area: message;
  border-bottom: 2px solid var(--negrolow);
}

.contact__button {
  grid-area: button;
  position: relative;
  margin-top: 6rem;
  padding: 3px 15px;
  justify-content: center;
  align-items: center;
  justify-self: center;

  display: inline-block;
  min-height: 40px;
  line-height: 1.2;

  font-family: var(--font-title);
  font-size: 2rem;
  letter-spacing: 1.3px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--negro);

  &::after {
    content: '';
    position: absolute;
    top: -8px;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: var(--negrolow);
    transform: none;
  }

  &:hover {
    font-weight: 500;

    &::after {
      background-color: var(--negro);
    }
  }

  &:active {
    background-color: var(--negro);
    color: var(--blancolow);

    &::after {
      background-color: var(--blancolow);
    }
  }
}

.contact__subject,
.contact__name,
.contact__email {
  padding-left: 10px;
  align-items: end;
  font-family: var(--font-title);
  border-bottom: 2px solid var(--negrolow);
}

.contact__label {
  display: block;
  width: 100%;

  &:focus-within {
    border-bottom: 3px solid var(--negro);
  }
}

.contact__form input {
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  outline: none;
  border: none;
  background: transparent;
}

.contact__form textarea {
  width: 100%;
  resize: none;
  max-height: 200px;
  padding: 10px;

  font-family: var(--font-title);
  font-size: 1.2rem;
  outline: none;
  border: none;
  background: transparent;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
  font-weight: 300;
}

.contact__form input:focus::placeholder,
.contact__form textarea:focus::placeholder {
  color: transparent;
}

@keyframes show-contact {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
