.home__container {
  min-height: calc(100dvh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(40px, 8vh, 90px);
  padding: 20px;

  background-color: var(--blancolow);
}

.home__title {
  width: min(95%, 800px);
  text-align: center;
  animation: show-home 1s ease both;
}

.title__h1 {
  margin-bottom: clamp(30px, 5vh, 50px);
  font-family: var(--font-title);
  font-size: clamp(2.5em, 8vw, 4.5em);
  line-height: 0.8;
  animation: show-home 1s ease both;
}

.title__h2 {
  font-family: var(--font-title);
  font-weight: 200;
  font-size: clamp(1.8em, 5vw, 3.2em);
  letter-spacing: 4px;
  line-height: 0.8;
  animation: show-home 1s ease both;
  animation-delay: 0.2s;

  &:last-of-type {
    letter-spacing: 10px;
    animation-delay: 0.4s;
  }
}

.home__social {
  width: min(60%, 600px);
}

.social__list {
  display: flex;
  justify-content: center;
  gap: clamp(60px, 10vw, 130px);
}

.social__item {
  position: relative;
}

.social__link {
  position: relative;
  padding: 0 2px;
  font-family: var(--font-text);
  font-weight: 200;
  font-size: clamp(1em, 2vw, 1.4em);
  animation: show-home 1s ease backwards;
  animation-delay: 0.6s;
  color: var(--negro);

  &::before {
    content: attr(data-text);
    display: block;
    font-weight: 400;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 50%;
    width: clamp(60px, 15vw, 100px);
    height: 2px;
    background-color: var(--negro);
    transform: translateX(-50%);
    transition: width 0.2s ease;
  }

  &:hover {
    font-weight: 400;
  }

  &:hover::after {
    width: clamp(60px, 15vw, 100px);
  }
}

.social__item:last-child .social__link {
  animation-delay: 0.8s;
}

@keyframes show-home {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1440px) {
  .home__container {
    gap: clamp(40px, 10vh, 120px); /* Aumentado el espacio entre elementos */
  }

  .title__h1 {
    margin-bottom: clamp(40px, 6vh, 60px);
  }
}
