.layout {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  overflow-x: hidden;
}

.layout__main {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  z-index: 1;
  padding-top: 60px;
}

.header__menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--blancolow);
}

.header__nav {
  width: 100%;
  height: calc(100dvh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 90;
  background-color: var(--blancolow);
  overflow-y: auto; /* Añadido para permitir scroll */
}
