.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--menu-default-bg, var(--blancolow));
  transition: color 0.6s ease, background-color 0.6s ease;
}

.header__menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--menu-bg);
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
  z-index: -1;
}

.header__menu-active::before {
  transform: translateX(0);
  animation: headerBgIn 0.6s ease-in-out forwards;
}

/* - - - - - -  HEADER BUTTON Styles - - - - - - */
.header__button {
  padding: 1px 20px;
  display: inline-flex;
  align-items: center;

  font-family: var(--font-title);
  font-size: 1.4em;
  font-weight: 400;
  position: relative;
  transition: all 0.1s linear;
  z-index: 1;

  &:hover {
    font-weight: 500;
  }
}

/* Underline effect */
.header__button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 2px;
  left: 50%;
  transform: translate(-50%);
  background-color: currentColor;
}

/* - - - - - -  NAVIGATION Styles - - - - - - */
.header__nav {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  -ms-overflow-style: none;
  scrollbar-width: none;

  opacity: 0;
  transform: translateX(60px);
  pointer-events: none;

  transition: background-color 0.6s ease, color 0.6s ease;
}

.header__nav-active {
  opacity: 1;
  transform: translateX(0px);
  pointer-events: auto;
  animation: menuIn 0.6s ease-in-out forwards;
}

.header__nav::-webkit-scrollbar {
  display: none;
}

.header__nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(10px, 2vh, 20px);
  padding: 60px 10px;
  text-align: end;
  margin: auto 0;
  flex: 1;
  justify-content: center;
}

.header__nav-item {
  width: min(85%, 600px);
  position: relative;
}

.header__nav-item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  background-color: currentColor;
}

.header__nav-link {
  padding-right: 10px;
  font-family: var(--font-title);
  font-size: clamp(3em, 6vw, 5em);
  display: block;

  &:hover {
    font-weight: 500;
  }
}

/* - - - - - -  FOOTER Styles - - - - - - */
.header__footer {
  width: clamp(85%, 90vw, 95%);
  padding: 20px clamp(15px, 3vw, 30px);
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-italic);
  font-weight: 200;
  font-size: clamp(0.8em, 2vw, 1.2em);
}

.header__footer-list {
  display: flex;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0;
  align-items: center;
  gap: clamp(10px, 2vw, 20px);
}

.header__footer-link:hover {
  font-weight: 400;
}

/* --- ANIMACIONES MENU --- */
@keyframes headerBgIn {
  from {
    transform: translateX(60px);
  }
  to {
    transform: translateX(0);
  }
}

.header__nav.header__nav-animating-out {
  animation: menuOut 0.4s ease-in-out forwards;
}

@keyframes menuIn {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes menuOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(60px);
  }
}

.header__nav-item {
  opacity: 0;
  transform: translateX(40px);
}

.header__nav-active .header__nav-item {
  animation: itemIn 0.6s ease-in-out forwards;
}

.header__nav-active .header__nav-item:nth-child(1) {
  animation-delay: 0.12s;
}
.header__nav-active .header__nav-item:nth-child(2) {
  animation-delay: 0.22s;
}
.header__nav-active .header__nav-item:nth-child(3) {
  animation-delay: 0.32s;
}
.header__nav-active .header__nav-item:nth-child(4) {
  animation-delay: 0.42s;
}

@keyframes itemIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.header__nav.header__nav-animating-out .header__nav-item {
  animation: itemOut 0.3s ease-in-out forwards;
}

@keyframes itemOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(40px);
  }
}

.header__nav-link {
  opacity: 0;
}

.header__nav-active .header__nav-link {
  animation: linkIn 0.6s ease-in-out forwards;
  animation-delay: 0.18s;
}

@keyframes linkIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__nav.header__nav-animating-out .header__nav-link {
  animation: linkOut 0.4s ease-in-out forwards;
}

@keyframes linkOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header__footer {
  opacity: 0;
  transform: translateX(30px);
}

.header__nav-active .header__footer {
  animation: footerIn 0.6s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes footerIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.header__nav.header__nav-animating-out .header__footer {
  animation: footerOut 0.4s ease-in-out forwards;
}

@keyframes footerOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(30px);
  }
}
