.projects__section {
  min-height: calc(100dvh - 60px);
  padding: 20px;

  background-color: var(--negro);
  color: var(--blanco);
}

.projects__title {
  padding-left: clamp(40px, 12vw, 140px);
  margin-top: clamp(30px, 5vh, 60px);
  margin-bottom: clamp(30px, 5vh, 60px);

  font-family: var(--font-title);
  font-size: clamp(2.5em, 6vw, 4em);
  text-align: left;
}

.projects__grid {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

@media (max-width: 480px) {
  .projects__grid {
    grid-template-columns: 1fr;
  }
}
