.projectCard__container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
  border-top: 2px solid var(--blanco);
  background: linear-gradient(to bottom, #1a1a1a, #0a0a0a);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  font-family: var(--text);
}

.projectCard__container:hover {
  transform: translateY(-5px);
}

.projectCard__media {
  width: 100%;
  margin-bottom: 0.7rem;
  border-radius: 3px;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 60%, rgba(0, 0, 0, 0.35) 100%);
    pointer-events: none;
    z-index: 1;
  }
}

.projectCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.85) contrast(1.05);
  transition: filter 0.3s ease;
}

.projectCard__video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.projectCard__video.visible {
  display: block;
}

.projectCard__video.hidden {
  display: none;
}

.projectCard__title {
  font-family: var(--title);
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
  color: var(--blanco);
  text-align: end;

  &:hover {
    font-weight: 400;
  }
}

.projectCard__description {
  font-family: var(--text);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--grisclaro);
  margin-bottom: 1.85rem;
  text-align: justify;
}

.projectCard__technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 2.65rem;
}

.projectCard__tech {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.projectCard__tech i {
  font-size: 1.6rem;
  color: var(--blanco);
  transition: all 0.3s ease;
}

.projectCard__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.3rem;
}

.projectCard__link {
  position: relative;
  padding: 0 2px;
  font-weight: 200;
  transition: font-weight 0.2s ease;

  &::before {
    content: attr(data-text);
    display: block;
    font-weight: 400;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: var(--blanco);
    transform: translateX(-50%);
    transition: width 0.2s ease;
  }

  &:hover {
    font-weight: 400;
  }

  &:hover::after {
    width: calc(110%);
  }
}
