.projectCard__container {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  padding: 1.5rem;
  color: var(--negro);
  background: var(--blancolow);
  border-radius: 0.375rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  font-family: var(--text);
  opacity: 0.9;
}

.projectCard__container:hover {
  transform: translateY(-5px);
}

.projectCard__media {
  width: 100%;
  height: 185px;
  margin-bottom: 0.7rem;
  border-radius: 3px;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 60%, rgba(0, 0, 0, 0.35) 100%);
    pointer-events: none;
    z-index: 1;
  }
}

.projectCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.85) contrast(1.05);
  transition: filter 0.3s ease;
}

.projectCard__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectCard__video.visible {
  display: block;
}

.projectCard__video.hidden {
  display: none;
}

.projectCard__title {
  font-family: var(--title);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: end;

  &:hover {
    font-weight: 500;
  }
}

.projectCard__description {
  font-family: var(--text);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.85rem;
  text-align: justify;
  height: calc(1.5em * 4);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.projectCard__logoLoop {
  margin-bottom: 40px;
}

.projectCard__tech i {
  font-size: 1.6rem;
  color: var(--negro);
  transition: all 0.3s ease;
}

.projectCard__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projectCard__link {
  position: relative;
  padding: 0 2px;
  font-weight: 200;
  transition: font-weight 0.2s ease;

  &::before {
    content: attr(data-text);
    display: block;
    font-weight: 400;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 50%;
    width: 80%;
    height: 1px;
    background-color: var(--negro);
    transform: translateX(-50%);
    transition: width 0.2s ease;
  }

  &:hover {
    font-weight: 400;
  }

  &:hover::after {
    width: calc(110%);
  }
}
